fastapi==0.119.1
uvicorn[standard]==0.30.0
SQLAlchemy==2.0.41
psycopg[binary]==3.3.2
pydantic==2.12
geoalchemy2==0.15.2
shapely==2.1.2
numpy==2.3.3
redis==5.1.1
python-dotenv==1.0.1
httpx==0.27.0
alembic==1.13.2
